{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>To Do List</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script
	    src="https://code.jquery.com/jquery-3.2.1.min.js"
		  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
		    crossorigin="anonymous"></script>
	<script
	  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
	    integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
		  crossorigin="anonymous"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.formset/1.2.2/jquery.formset.min.js"></script>
  <style>
    input[type="text"] {
      border-radius: 0;
      border-top: 0;
      border-left: 0;
      border-right: 0;
    }
    input[type="text"]:focus {
      box-shadow: none;
    }
  </style>
  <script>
	  function update_order(){
		$('[id*="-order"]').each(function(idx) {
			$(this).val(idx + 1);
		});
	  }

	  $(function() {
		  $('#form').sortable({helper: "clone", update: update_order});
		  $('#form .form-inline').formset({
			  deleteText: '<span class="glyphicon glyphicon-remove"></span>',
			  addText: '<span class="glyphicon glyphicon-plus"></span> Adicionar Item',
			  added: function(row){
				  update_order();
				  title = row.find('[name*="-title"]')
				  title.focus()
			  }
		  });
		  $(document).keypress(function(e) {
		      if(e.which == 13) {
				  event.preventDefault();
				  $('.add-row').click();
			  }
		  });
	  })
  </script>
</head>
<body>
	<div class="container">
		<form action="." method="POST" id="form">
			{% csrf_token %}
			{{ formset.management_form }}

			{% for form in formset %}
			<div class=form-inline>
				{{ form.id.errors }}
				{{ form.id.as_hidden }}

				{{ form.order.errors }}
				{{ form.order.as_hidden }}

				<div class="form-group">
					<span class="glyphicon glyphicon-move"></span>
				</div>

				<div class="form-group">
					{{ form.done.errors }}
					{% render_field form.done class+='form-control' %}
				</div>

				<div class="form-group">
					<label class="sr-only" for="{{ form.title.id_for_label }}">{{ form.title.label }}</label>
					{{ form.title.errors }}
					{% render_field form.title required="required" class+="form-control" %}
				</div>
				{{ form.DELETE }}
			</div>
			{% endfor %}

			<input type="submit" value="Salvar" class="btn btn-primary pull-right">
		</form>
	</div>
</body>
</html>
